--- 

title: 3DSANDBOX
date: 2017-04-20 04:20 PDT
category: sculptures
featured_img: "/assets/images/thumbnails/sculptures/sandbox2.png"
---

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/FHqAtkwYdqs?rel=0&controls=0&showinfo=0", :width => "560"}

%div.project__image-container
	- 1.upto(3) do |index|
		= tag :img, src: "/assets/images/projects/sandbox/sandbox#{index}.jpg",class:'project__image'

%p.project__para-1 3DSANDBOX is an interactive, realtime 3D art experience. It requires one group of users to interact with a miniature set, which is being filmed and displayed to a second group of users using an experimental single camera 3D capture system, that relies on temporal manipulation to extract 3D from a single constantly moving camera.

%div.project__image-container
	- 4.upto(6) do |index|
		= tag :img, src: "/assets/images/projects/sandbox/sandbox#{index}.jpg",class:'project__image'

%p.project__para-2 3DSANDBOX aims to capture an uninhibited, playful and childlike interactivity, whilst creating a space for audience performance and participation. It is also an inquiry into the nature of vision and sight, and the human sensory experience.

%div.project__image-container
	- 7.upto(9) do |index|
		= tag :img, src: "/assets/images/projects/sandbox/sandbox#{index}.jpg",class:'project__image'

%p.project__para-3 3DSANDBOX was on display at the Black and White Gallery at CalArts on December 7th, 2017. It was created by James Anderson, Clay Burton and Shaurjya Banerjee.

%p.project__para More information about 3DSANDOX, its construction, code and operating principle can be found at the 3DSANDBOX Info page below

%p.project__link
	= link_to "3DSANDBOX INFO", "/electronics/3dsandbox_info"