--- 

title: 3DSANDBOX
date: 2017-04-20 04:20 PDT
category: sculptures
featured_img: "/assets/images/thumbnails/sculptures/sandbox2.png"
---

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/FHqAtkwYdqs?rel=0&controls=0&showinfo=0", :width => "560"}

%div.project__image-container
	- 1.upto(3) do |index|
		= tag :img, src: "/assets/images/projects/sandbox/sandbox#{index}.jpg",class:'project__image'

%p.project__para-1 3DSANDBOX is an interactive, realtime 3D art experience. It requires one group of users to interact with a miniature set, which is being filmed and displayed to a second group of users using an experimental single camera 3D capture system, that relies on temporal manipulation to extract 3D from a single constantly moving camera.

%div.project__image-container
	- 4.upto(6) do |index|
		= tag :img, src: "/assets/images/projects/sandbox/sandbox#{index}.jpg",class:'project__image'

%p.project__para-2 3DSANDBOX aims to capture an uninhibited, playful and childlike interactivity, whilst creating a space for audience performance and participation. It is also an inquiry into the nature of vision and sight, and the human sensory experience.

%div.project__image-container
	- 7.upto(9) do |index|
		= tag :img, src: "/assets/images/projects/sandbox/sandbox#{index}.jpg",class:'project__image'

%p.project__para-3 3DSANDBOX was on display at the Black and White Gallery at CalArts as a part of the Varia Stereoscopic Group Show on December 7th, 2017. It was created by James Anderson, Clay Burton and Shaurjya Banerjee.

%p.project__link
	= link_to "More information about 3DSANDOX, its construction, code and operating principles can be found at the 3DSANDBOX Info page", "/electronics/3dsandbox_info"

%h1.project__heading 3DSANDBOX 2

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/sandbox2/sandbox2-1.jpg", class:'single__image'

%p.project__para 3DSANDBOX 2 was on display at the CalArts Digital Arts Expo on May 3rd, 2018. It was an iteration on the original 3DSANDBOX concept and was made to use 360 camera travel. 

%div.project__image-container
	- 4.upto(6) do |index|
		= tag :img, src: "/assets/images/projects/sandbox2/sandbox2-#{index}.jpg",class:'project__image'

%p.project__para The set for 3DSANDBOX 2 was circular and its walls were covered with animation cells and backgrounds, that created three distinct scenes, with a small gap in the walls for the audience themselves to be picked up by the camera feed as the fourth scene. 

%div.project__image-container
	- 1.upto(3) do |index|
		= tag :img, src: "/assets/images/projects/sandbox2/sandbox2-#{index}.jpg",class:'project__image'

%p.project__para The set was populated with a number of puppets and toys as well as scenic elements like trees at a variety of different scales, and the camera was located at the very center of the set, located very close to the surface of the table.

%p.project__para 3DSANDBOX 2 was created by James Anderson, Clay Burton and Shaurjya Banerjee.