---

title: apvfeedbake
date: 2018-03-29 21:57 PDT
category: sculptures
featured_imgs: ["/assets/images/thumbnails/sculptures/apvcam2.png", "/assets/images/thumbnails/sculptures/apvtv2.png"]
---

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/imfJ_a4Fl4Y?rel=0&controls=0&showinfo=0", :width => "560"}

%p.project__para-1 APVFeedBakE or the Autonomous Physical Video Feedback Expropriator is a procedural and autonomous or user controller physical video feedback system. It makes use of a modified and de-constructed Cathode Ray Tube monitor and moving camera to create a morphing audio visual feedback landscape.

%p.project__para-2 APVFeedBakE attempts at repurposing antiquated video playback and capture devices to pose an inquiry into the nature of human sight, memory and perception and the idea of autonomy in the artmaking process.

%p.project__para-3 APVFeedBakE repurposes audio ampilifiers and hand wound electro magnets to manipulate Cathode Ray Tube monitors, to illustrate their inner workings. Additionally, all Cathode Ray Tube monitors have been re-housed such that the user may see their internals.

%h2.project__heading APV CAM

%div.project__image-container
	- 1.upto(9) do |index|
		= tag :img, src: "/assets/images/projects/apvcam/apvcam#{index}.jpg",class:'project__image'

%h2.project__heading APV TV

%div.project__image-container
	- 1.upto(12) do |index|
		= tag :img, src: "/assets/images/projects/apvtv/apvtv#{index}.jpg",class:'project__image'

%p.project__para More information about APVFeedBakE and its construction, code and inner workings can be found at the APVFeedBakE Info page below

%p.project__link
	= link_to "APVFeedBakE INFO", "/electronics/apvfeedbake_info"