---

title: APVFeedBakE HOW IT WORKS
date: 2018-04-10 18:24 PDT
category: electronics
featured_imgs: ["/assets/images/projects/apvtv/apvtv1.jpg", "/assets/images/projects/apvcam/apvcam1.jpg"]
---

%h2.warning WARNING!!!

%p.warning Opening and modifying a Cathode Ray Tube (CRT) Television is an extremely dangerous process. CRTs can store charge for months and sometimes even years after they have been unplugged. Please exercise extreme caution and working on a CRT. This is NOT a step by step guide to making modifications to a CRT Television. If you have no prior experience with opening or operating on a CRT, please do not use this as a guide. I have provided links to other resources at the end of this page that provide an introductory explanation of the parts of a CRT TV, and CRT related safety. 


%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/imfJ_a4Fl4Y?rel=0&controls=0&showinfo=0", :width => "560"}

%h2.project__heading Safety Procedures

%p.project__para One of the most important safety measures I take on every CRT I have ever opened is to leave yourself a number of safety warnings. Before opening or working on a CRT, always make sure the television has been unplugged! I like to put a ‘DID YOU UNPLUG IT?’ label on all CRT Tubes when I first open them, as well as on the power cord itself. Labelling CRT power cords prevent frustrations when inspecting a well hidden power strip to unplug a television. 


%p.project__para If you plan on working on a CRT, it is a very good idea to make yourself a dedicated discharge tool instead of reaching for the nearest flathead screwdriver. If you have access to a machine shop, it is advisable to drill and tap a hole with a set screw to attach your grounding wire securely to your screwdriver.

//----------------------------------------------------------------------------------------------------------------------------

%h2.project__heading APVCam Construction

%p.project__para The APVCam uses two NEMA-17 Stepper Motors to provide users very precise control on the pan and roll axes of the camera used for video feedback. The camera used in APVCam is a small and lightweight security camera normally used for CCTV applications. I chose this kind of camera because of its size, cheapness and ability to directly output composite video.

//APV Cam Side Shot
%div.project__single__image
	= tag :img, :src => "/assets/images/projects/apvcam/annotated/apvcam_a1.jpg", class:'single__image'

%p.project__para To control the APVCam, I built up some simple control circuitry - a few momentary buttons for manual jog, an assignable cycle start button, switch and a knob. APVCam’s controller is built using Arduino, with motor control duties handled by the Adafruit Motor Shield V2. All of this control circuitry is housed in the APV Cam Controller (pictured below)

//APV Cam and Controller
%div.project__single__image
	= tag :img, :src => "/assets/images/projects/apvcam/annotated/apvcam_a2.jpg", class:'single__image'

%p.project__para All of the parts for APVCam are machined from 6061 aluminium. Pictured below is the APVCam camera holder, which uses four 10-32 UNF screws to securely hold the camera and to center the camera on APVCam's roll axis. This camera centering system is inspired by the jaws of a 4 jaw chuck on a lathe.

//APV Cam Camera Holder
%div.project__single__image
	= tag :img, :src => "/assets/images/projects/apvcam/annotated/apvcam_a3.jpg", class:'single__image'

%p.project__para Each corner of the baseplate of APVCam has been drilled and tapped for 10-32 UNF fasteners, which are used as leveling screws to align APVCam to the plane of its subject. The leveler screws are preloaded by springs for stability. These allow for some adjustability to level or tilt the whole mechanism as needed.

//APV Cam Leveler Screw
%div.project__single__image
	= tag :img, :src => "/assets/images/projects/apvcam/annotated/apvcam_a4.jpg", class:'single__image'


//----------------------------------------------------------------------------------------------------------------------------

%h2.project__heading APVCam Firmware

%p.project__para

%p.project__para


%h2.project__heading APVTV Construction

%p.project__para


//APV TV Block Diagram
%div.project__single__image
	= tag :img, :src => "/assets/images/projects/apvtv/annotated/apvtv_a1.jpg", class:'single__image'

//APV TV Electromagnet Closeup
%div.project__single__image
	= tag :img, :src => "/assets/images/projects/apvtv/annotated/apvtv_a2.jpg", class:'single__image'

//APV TV Side Profile
%div.project__single__image
	= tag :img, :src => "/assets/images/projects/apvtv/annotated/apvtv_a3.jpg", class:'single__image'

//APV TV Relays Closeup
%div.project__single__image
	= tag :img, :src => "/assets/images/projects/apvtv/annotated/apvtv_a4.jpg", class:'single__image'

//APV TV Flyback Transformer, Anode Splice
%div.project__single__image
	= tag :img, :src => "/assets/images/projects/apvtv/annotated/apvtv_a5.jpg", class:'single__image'

//APV TV Overview
%div.project__single__image
	= tag :img, :src => "/assets/images/projects/apvtv/annotated/apvtv_a6.jpg", class:'single__image'

//APV TV Arduino Closeup
%div.project__single__image
	= tag :img, :src => "/assets/images/projects/apvtv/annotated/apvtv_a7.jpg", class:'single__image'

//APV TV Warning Labels
%div.project__single__image
	= tag :img, :src => "/assets/images/projects/apvtv/annotated/apvtv_a8.jpg", class:'single__image'

%p.project__para-8

%h2.project__heading APVTV Firmware

%p.project__para-9

%p.project__para-10

%h2.project__heading Further Reading

%p.project__para
	= link_to "CRACKED RAY TUBE TUTORIALS", "http://crackedraytube.com/textstutorials.html"
