---

title: wholesomecircuits.com credits
date: 2018-04-16 20:16 PDT
---

%div.credits
	%h2.project__heading wholesomecircuits.com was created by

	%p.external_link
		= link_to "Shaurjya Banerjee", "/"

	%p.external_link
		= link_to "Ashwin Vaswani - Lead Developer", "https://www.ashwinvaswani.com/"

	%p.external_link
		= link_to "Mike Leisz - Feedback Consultant", "http://clickbecause.net/"

	%p.external_link
		= link_to "Dexter Shepherd - JavaScript Consultant", "http://dexterjshepherd.com/"

	%p.external_link
		= link_to "James Anderson - Web Consultant", "http://jrsa.co/"

