---

title: WHOLESOME FR7 360
date: 2020-05-26 21:43 PDT
category: drones
featured_img: "/assets/images/projects/drones/fr1.jpg"

---

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/drones/fr1.jpg", class:'single__image'

%p.project__para-1 The FR7 is is largest drone in the WholesomeFPV fleet, and is designed specifically with long range cinematic and experimental footage in mind. The drone is more than capable of pulling buttery cinematic footage even under extreme wind conditions.

%div.project__image-container
	- 2.upto(4) do |index|
		= tag :img, src: "/assets/images/projects/drones/fr#{index}.jpg",class:'project__image'


%p.project__para These are the parts used in the Wholesome FPV FR7 -

%p.project__para BrotherHobby Avenger 2806.5 1700KV Brushless Motors 
%p.project__para HQ Prop 7x4x3 
%p.project__para Goldbatt 6000 mAh 4S LiPo Battery 
%p.project__para T-Motor F55A Pro II 55A 4-in-1 ESC 
%p.project__para Matek FLIGHT CONTROLLER F722-SE 
%p.project__para TBS Nano Diversity RX 
%p.project__para 2x Immortal T Antennas 
%p.project__para Caddx Ratel Starlight Micro Camera with 1.66mm Lens 
%p.project__para TBS Unify Pro32 HV MMCX Video TX 
%p.project__para Readytosky M8N GPS Module with Compass 
%p.project__para HellGate FPV Buzzer DUO 


%div.project__image-container
	- 5.upto(7) do |index|
		= tag :img, src: "/assets/images/projects/drones/fr#{index}.jpg",class:'project__image'

%p.project__para The drone’s GPS is mounted on a mast to provide separation from electrical interference below. Its underside is shielded using aluminum tape. The Insta 360 OneX is also shielded from transmitting interference to the GPS above it. Here are some examples of interactive 360 videos made using the FR7 360 platform -

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/5sItkj0KLk4", :width => "560"}

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/uOAX9mDm-rA", :width => "560"}

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/1-1p_O08A_k", :width => "560"}

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/idCex5th3nI", :width => "560"}

%p.project__para Here is cinematic video using the GoPro Hero7 on the FR7 platform - 

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/HMyCxyb7a30", :width => "560"}