---

title: games
date: 2018-04-20 12:18 PDT

---

.box
	%h1.games_page
		= link_to "FEEDBAKE SNAKE", "/games/feedbake_snake"

	%h1.games_page
		= link_to "GOOP WORLD EXPLORER", "/games/goop_world_explorer"

	%h1.games_page
		= link_to "MAZE GENERATOR", "/games/maze_generator"

	%h1.games_page
		= link_to "RED/BLUE", "/games/redblue"
			
	%h1.games_page
		= link_to "SNAKE", "/games/simple_snake"