---

title: NEBULAE
date: 2021-12-1 21:43 PDT
category: astro
featured_img: "/assets/images/projects/astro/orion.jpg"

---

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/orion.jpg", class:'single__image'

%p.project__para-1 The Great Nebula in Orion and Running Man Nebula

%p.project__para The Orion Nebula is one of the most famous and highly studied celestial objects in human history. It is a diffuse nebula in the Milky Way located at roughly 1300 light years from Earth. The Orion Nebula is often referred to as a stellar nursery, being the birthplace of thousands of stars. The Orion Nebula lies midway down the Sword of Orion, and has a smaller reflection nebula (Sh2-279) as its neighbor, popularly known as The Running Man Nebula.

%p.project__para Orion has captivated the human imagination for centuries - from the ancient Mayans and Greeks, to the modern humans today. Scientists have studied Orion and observed protoplanetary disks, brown dwarfs, intense and turbulent motions of the gas, and the photo-ionizing effects of massive nearby stars in the nebula.

%p.project__para Shot from Mt. Pinos, California
%p.project__para October 25th, 2020
				
%p.project__para Telescope - Explore Scientific ED80
%p.project__para Mount - Skywatcher HEQ5 Pro
%p.project__para Camera - Canon Rebel T6i
%p.project__para Aperture - f/6
%p.project__para Shutter - 30 seconds
%p.project__para ISO - 400

%p.project__para 59 light frames | 11 dark frames | 64 bias frames

%p.project__para 29.5 minutes total integration time

%p.project__para Images calibrated and stacked in AstroPixelProcessor

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/flame_nebula.jpg", class:'single__image'

%p.project__para Flame Nebula and Horsehead Nebula

%p.project__para Located on either side of Alnitak, the easternmost star in the Belt of Orion are two very interesting cosmic objects - the emission nebula NGC2024 popularly known as The Flame Nebula on the left and a small, dark nebula known as Barnard33 or the famed Horsehead Nebula on the right.

%p.project__para The Flame Nebula glows from the recombination of electrons knocked free from the great clouds of hydrogen gas and ionized hydrogen. The electrons are freed by the bright and energetic ultraviolet light coming from Alnitak. The darker tendrils are areas of dark gas and dust located in front of the Flame, obscuring some of the brighter areas.

%p.project__para The Horsehead meanwhile, is a dark and easily identifiable nebulous region located in front of a large cloud of ionized hydrogen gas that glows deep red.

%p.project__para Shot from Mt. Pinos, California
%p.project__para October 25th, 2020

%p.project__para NGC2024/Barnard33 - The Flame Nebula and Horsehead Nebula

%p.project__para Telescope - Explore Scientific ED80
%p.project__para Mount - Skywatcher HEQ5 Pro
%p.project__para Camera - Canon Rebel T6i
%p.project__para Aperture - f/6
%p.project__para Shutter - 30 seconds
%p.project__para ISO - 400

%p.project__para 36 light frames | 11 dark frames | 52 bias frames

%p.project__para 18 minutes total integration time

%p.project__para Images calibrated and stacked in AstroPixelProcessor

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/california.jpg", class:'single__image'

%p.project__para California Nebula

%p.project__para The California Nebula is a large emission nebula located in the constellation Perseus. It is approximately 100 light years long and located at a distance of 1000 light years from Earth. It shines with a reddish glow typical of hydrogen atoms being ionized by energetic radiation from the bright, blue star to the right of the nebula - Xi Persei, also known as Menkib.

%p.project__para The California Nebula is a much dimmer object than anything I have imaged before and it was more challenging to find and expose properly. I used longer exposures than I have ever used before to capture its faint nebulosity.

%p.project__para Shot from Mahogany Flat Campground, Death Valley, California November 13th, 2020

%p.project__para California Nebula - NGC 1499

%p.project__para Telescope - Explore Scientific ED80
%p.project__para Mount - Skywatcher HEQ5 Pro
%p.project__para Camera - Canon Rebel T6i
%p.project__para Aperture - f/6
%p.project__para Shutter - 45 seconds
%p.project__para ISO - 3200

%p.project__para 47 light frames | 160 bias frames

%p.project__para 35.25 minutes total integration time

%p.project__para Images calibrated and stacked in AstroPixelProcessor

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/heart.jpg", class:'single__image'

%p.project__para Heart Nebula

%p.project__para The Heart Nebula lies some 7500 light years away from Earth in the Perseus Arm of the galaxy in the constellation Cassiopeia. It is an emission nebula glowing with ionized hydrogen gas. Its red glow and larger shape are all powered by a small group of stars at the nebula's center.

%p.project__para At the bottom left of the frame is the Fishhead Nebula, the companion nebula of the Heart.

%p.project__para Shot from Stovepipe Wells Campground, Death Valley, California November 14th, 2020

%p.project__para Heart Nebula - IC 1805

%p.project__para Telescope - Explore Scientific ED80
%p.project__para Mount - Skywatcher HEQ5 Pro
%p.project__para Camera - Canon Rebel T6i
%p.project__para Aperture - f/6
%p.project__para Shutter - 50 seconds
%p.project__para ISO - 6400

%p.project__para 44 light frames | 40 dark frames | 143 bias frames

%p.project__para 36.66 minutes total integration time

%p.project__para Images calibrated and stacked in AstroPixelProcessor

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/soul.jpg", class:'single__image'

%p.project__para Soul Nebula

%p.project__para The Soul Nebula is an emission nebula located in the constellation Cassiopeia. It has several small star clusters embedded within the main area of nebulosity. The area also is home to W5, a radio source within the nebula, which spans an area of sky equivalent to four full moons and is about 6,500 light-years away in the constellation Cassiopeia.

%p.project__para Like other massive star-forming regions - such as Orion - W5 contains large cavities that were carved out by radiation and winds from the region's most massive stars. According to the theory of triggered star formation, the carving out of these cavities pushes gas together, causing it to ignite into successive generations of new stars.

%p.project__para Shot from Templin Highway, California January 9th, 2021

%p.project__para Soul Nebula - IC 1848

%p.project__para Telescope - Explore Scientific ED80
%p.project__para Mount - Skywatcher HEQ5 Pro
%p.project__para Camera - Canon Rebel T6i
%p.project__para Aperture - f/6
%p.project__para Shutter - 45 seconds I
%p.project__para ISO - 6400

%p.project__para 103 light frames
%p.project__para 36 dark frames
%p.project__para 217 bias frames

%p.project__para 77.25 minutes total integration time

%p.project__para Images calibrated and stacked in AstroPixelProcessor

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/flaming_star.jpg", class:'single__image'

%p.project__para The Flaming Star Nebula

%p.project__para The Flaming Star Nebula is an emission and reflection nebula in the constellation Auriga, surrounding the bluish star AE Aurigae. The nebula lies about 1,500 light-years away from Earth and is about 5 light-years across. It is believed that the proper motion of the central star can be traced back to the Orion's Belt area.

%p.project__para Shot from Templin Highway,California December 19th, 2020

%p.project__para The Flaming Star Nebula - IC 405
%p.project__para Telescope - Explore Scientific ED80
%p.project__para Mount - Skywatcher HEQ5 Pro
%p.project__para Camera - Canon Rebel T6i
%p.project__para Aperture - f/6
%p.project__para Shutter - 60 seconds
%p.project__para ISO - 3200

%p.project__para 49 light frames | 29 dark frames |78 bias frames

%p.project__para 49 minutes total integration time

%p.project__para Images calibrated and stacked in AstroPixelProcessor

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/rosette.jpg", class:'single__image'

%p.project__para Rosette Nebula

%p.project__para The Rosette Nebula, also known as Caldwell 49 is a large nebula made up of ionized hydrogen gas approximately 130 light years in diameter and located about 5000 light years from Earth.

%p.project__para NASA's Chandra X-Ray Observatory has revealed approximately 2500 young stars in the star forming complex of the Rosette Nebula. The massive O Type stars HD 46223 and HD 46150 are largely responsible for blowing the ionized bubble.

%p.project__para Shot from Mt. Pinos, California November 21th, 2020

%p.project__para Rosette Nebula - Caldwell 49

%p.project__para Telescope - Explore Scientific ED80
%p.project__para Mount - Skywatcher HEQ5 Pro
%p.project__para Camera - Canon Rebel T6i Aperture - f/6
%p.project__para Shutter - 30 seconds
%p.project__para ISO - 3200

%p.project__para 90 light frames | 21 dark frames | 134 bias frames | 90 flat frames

%p.project__para 45 minutes total integration time

%p.project__para Images calibrated and stacked in AstroPixelProcessor


%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/seagull.jpg", class:'single__image'

%p.project__para The Seagull Nebula

%p.project__para The Seagull Nebula is a region of nebulosity that lies along the border between the constellations Monoceros and Canis Major. It is a broad expanse of glowing gas and dust. Dominated by the reddish glow of atomic hydrogen, the complex of gas and dust clouds with bright young stars spans over 100 light-years at an estimated 3,800 light-year distance from Earth.

%p.project__para Shot from Mt. Pinos, California
%p.project__para December 18th, 2020

%p.project__para The Seagull Nebula - IC 2177
%p.project__para Telescope - Explore Scientific ED80
%p.project__para Mount - Skywatcher HEQ5 Pro
%p.project__para Camera - Canon Rebel T6i
%p.project__para Aperture - f/6
%p.project__para Shutter - 60 seconds
%p.project__para ISO - 3200

%p.project__para 24 light frames
%p.project__para 21 dark frames
%p.project__para 84 bias frames

%p.project__para 24 minutes total integration time

%p.project__para Images calibrated and stacked in AstroPixelProcessor

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/casper.jpg", class:'single__image'

%p.project__para Casper The Friendly Ghost Nebula

%p.project__para Messier 78, affectionately known as Casper The Friendly Ghost Nebula is a diffuse reflection nebula located in the rich constellation Orion. Casper is one of the lesser known areas of nebulosity in the Orion system and if often mistaken as a comet by comet hunters.

%p.project__para The conditions under which I captured the data for this image were absolutely gruelling. My initial observation site ended up being cloudy so I drove an hour and a half further to a higher elevation site - it was clear but also extremely cold at -6 degrees celsius and 35 mph of gusting winds. I decided to try imaging anyway, but the winds made a lot of the light frames unusable and the drop in temperature made my focus drift over time. I am lucky to not have wasted the night of imaging completely and was able to salvage this image.

%p.project__para Shot from Mt Pinos, California January 8th, 2021

%p.project__para Casper The Friendly Ghost Nebula - Messier 78 / NGC 2068

%p.project__para Telescope - Explore Scientific ED80
%p.project__para Mount - Skywatcher HEQ5 Pro
%p.project__para Camera - Canon Rebel T6i
%p.project__para Aperture - f/6
%p.project__para Shutter - 80 seconds
%p.project__para ISO - 6400

%p.project__para 26 light frames | 21 dark frames | 103 bias frames

%p.project__para 34.66 minutes total integration time

%p.project__para Images calibrated and stacked in AstroPixelProcessor

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/witchhead.jpg", class:'single__image'

%p.project__para The Witch Head Nebula

%p.project__para The Witch Head Nebula is an extremely faint reflection nebula believed to be an ancient supernova remnant or gas cloud illuminated by nearby supergiant star Rigel in the constellation of Orion. It lies about 900 light-years from Earth.

%p.project__para The nature of the dust particles, reflecting blue light better than red, is a factor in giving the Witch Head its blue color. Radio observations show substantial carbon monoxide emission throughout parts of IC 2118, an indicator of the presence of molecular clouds and star formation in the nebula.

%p.project__para Shot from Mt. Pinos,
%p.project__para California December 18th, 2020

%p.project__para The Witch Head Nebula - IC 2118
%p.project__para Telescope - Explore Scientific ED80
%p.project__para Mount - Skywatcher HEQ5 Pro
%p.project__para Camera - Canon Rebel T6i
%p.project__para Aperture - f/6
%p.project__para Shutter - 60 seconds
%p.project__para ISO - 3200

%p.project__para 10 light frames | 21 dark frames | 84 bias frames

%p.project__para 10 minutes total integration time

%p.project__para Images calibrated and stacked in AstroPixelProcessor

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/jellyfish.jpg", class:'single__image'

%p.project__para The Jellyfish Nebula

%p.project__para IC 443 - also known as the Jellyfish Nebula - is a galactic supernova remnant in the constellation Gemini. It is located roughly 500 light years from Earth. It is believed IC 443 may be the remains of a supernova that occurred somewhere between 3,000 to 30,000 years ago. The same supernova event likely created the neutron star CXOU J061705.3+222127, which is the collapsed remnant of the stellar core.

%p.project__para The Jellyfish Nebula - IC443

%p.project__para Shot from Templin Highway,
%p.project__para California January 15th, 2021

%p.project__para Telescope - Explore Scientific ED80
%p.project__para Mount - Skywatcher HEQ5 Pro
%p.project__para Camera - Canon Rebel T6i
%p.project__para Aperture - f/6
%p.project__para Shutter - 50 seconds
%p.project__para ISO - 6400

%p.project__para 43 light frames | 71 dark frames | 36 minutes total integration time

%p.project__para Images calibrated and stacked in AstroPixelProcessor
%p.project__para Post processed in Adobe Lightroom