---

title: thumbnails
date: 2018-03-30 14:07 PDT
category:

---

%div.project__thumbnail-container
	= tag :img, src: "/assets/images/thumbnails/alpha_lines/apvcam2.png",class:'project__image'
	= tag :img, src: "/assets/images/thumbnails/alpha_lines/apvtv2.png",class:'project__image'
	= tag :img, src: "/assets/images/thumbnails/alpha_lines/deathcube2.png",class:'project__image'
	= tag :img, src: "/assets/images/thumbnails/alpha_lines/jackhammer2.png",class:'project__image'
	= tag :img, src: "/assets/images/thumbnails/alpha_lines/luz2.png",class:'project__image'
	= tag :img, src: "/assets/images/thumbnails/alpha_lines/pleaseknock2.png",class:'project__image'
	= tag :img, src: "/assets/images/thumbnails/alpha_lines/sandbox2.png",class:'project__image'
	= tag :img, src: "/assets/images/thumbnails/alpha_lines/screengrazer2.png",class:'project__image'
	= tag :img, src: "/assets/images/thumbnails/alpha_lines/wallpecker2.png",class:'project__image'
